.avancer {
    border: 5px solid greenyellow;
    border-radius: 5px;
}

.utiliser {
    border: 5px solid greenyellow;
    border-radius: 5px;
}

.brique {
    border: 5px solid greenyellow;
    border-radius: 5px;
}
